@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900;
  }

  * {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .shadow-brutal {
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  }

  .shadow-soft {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  }
}
